# S3 methods
S3method(summary, spacious)
S3method(predict, spacious)
S3method(plot, spacious)
S3method(print, spacious)
S3method(print, summary.spacious)

# functions to export
export(spacious)

# C functions
useDynLib(spacious, spacious_fit)
useDynLib(spacious, spacious_predict)
